body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 800px;
  width: 600px;
  border: 1px solid black;
  position: relative;
  /* overflow-y: hidden; */
}

#taxi {
  width: 60px;
  height: 60px;
  background-color: #3d3dfd;
  position: absolute;
  bottom: 0;
}

.obstacles {
  width: 60px;
  height: 60px;
  background-color: yellow;
  position: absolute;
 

}